<mat-card
  class="about"
  role="region"
  fxLayout="column"
  fxLayoutGap="2em"
  fxFlexAlign="center"
  fxLayoutAlign="center"
>

  <mat-card-content class="about__content">
    <h2>Welcome to Node Bucket!</h2>
    <p>Node Bucket is here to make your life easier!</p>
    <p class="smaller">Do you have a honey-to-do list?</p>
    <p class="smaller">Are you always going to the store and forgetting things?</p>
    <p class="smaller">How about kids in sports, getting one child from here to there?</p>
    <p>If you answered yes to any of these questions, than NodeBucket was made for you!</p>
    <p>What are able to do with our app? Well below I have explained it all!</p>
    <ul>
      <li>Create tasks - you know those task you give your husband but he never seems to complete.  Or the one those teenagers forget about.</li>
      <li>Sort tasks by importance, put the highest priority first!</li>
      <li>When one task is completed, drag it and drop it to the done column.</li>
      <li>You can also move that done task back to the todo list if needed.</li>
      <li>Don't like the list?  That's ok, you can delete those task you want to get rid of.</li>
    </ul>
    <p>This app just might become your new best friend!</p>
    
  </mat-card-content>

</mat-card>